* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;

  margin: 0;
}

main {
  display: grid;
  grid-template-areas: "textarea textarea" "undo redo" "clear commit";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 1rem;
  row-gap: 1rem;

  margin: auto;
  padding: 2rem;

  background-color: #333;
  border-radius: 6px;
}

textarea {
  width: 300px;
  height: 100px;

  margin: 0;
  padding: 1em;

  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 6px;

  resize: none;
}

textarea:focus {
  background-color: #fff;
}

textarea { grid-area: textarea; }
button:nth-of-type(1) { grid-area: undo; }
button:nth-of-type(2) { grid-area: redo; }
button:nth-of-type(3) { grid-area: clear; }
button:nth-of-type(4) { grid-area: commit; }

